#audio-1 {
    transform: scale(1.7);
    text-align: center;
    margin-top: 2rem;
    display: inline-block
}

.col {
    text-align: center;
    height: 80%;
}


.rabbit-lyrics rabbit-lyrics--default rabbit-lyrics--enabled {
    height: 80%;
}

body {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
    overflow: hidden;
}

.rabbit-lyrics rabbit-lyrics--default{
    position: fixed;
    overflow-y: scroll;
    width: 100%;
}

.rabbit-lyrics__line {
    text-align: center;
}

.fa-chevron-circle-up {
  border: 8px solid white;
  transform: scale(1.2);
  color:#868686;
 cursor: pointer;
}

.fa-chevron-circle-down {
  border: 8px solid white;
  transform: scale(1.2);
  color:#868686;
 cursor: pointer;
}