.col {
    text-align: center;
    height: 80%;
}

.rabbit-lyrics rabbit-lyrics--default rabbit-lyrics--enabled {
    height: 80%;
}

body {
    overflow-y: scroll;
    width: 100%;
}

.rabbit-lyrics rabbit-lyrics--default{
    position: fixed;
    overflow-y: scroll;
    width: 100%;
}

.rabbit-lyrics__line {
    text-align: center;
}

.fa-chevron-circle-up {
  border: 8px solid white;
  transform: scale(1.2);
  color:#868686;
 cursor: pointer;
}

.fa-chevron-circle-down {
  border: 8px solid white;
  transform: scale(1.2);
  color:#868686;
 cursor: pointer;
}


.rabbit-lyrics-searched {
    background-color: #17eb7e;
}

.rabbit-lyrics-highlighted {
    color: #f03a07;
}